body {
    background-color: cadetblue;
}

section {
    display: flex;
    justify-content: space-between;
}

#left {
    border: solid red;
    flex: 2
}

#right {
    flex: 2;
    border: solid blue;
}

#container {
    display: flex;
    min-height: 1500px;
}

#audrey {
    background-color: purple;
    color: snow;
    min-height: 100px;
    width: 50px;
    position: fixed;
}